.Organizations h1{
    text-align: left;
    font-size: 6vh;
    font-weight: 700;

}

.Organizations p{
    text-align: left;
    margin-left:10%;
}

.Organizations{
    text-align: center;
}